html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  display: block;
  max-height: 500px;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  bottom: 0;
  padding: 0 1.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50em;
  width: 100%;
}

.banner-title {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: inline-block;
  font-size: 4rem;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 1rem;
}

.banner-text {
  font-size: 2rem;
  font-style: italic;
  font-weight: lighter;
  margin: 0;
}
